.navbar-brand-cus {
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}

.language-nav {
  background: #0d0d0d;
  a {
    text-decoration: none;
    font-size: 10px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.3);
  }
  .active__link {
    color: #fff;
  }
}

.btn-header-cus {
  background: #ffc000;
  &:hover {
    background-color: #ffdb6e;
  }
}

.btn-close-cus {
  border-radius: 0;
  color: #000000;
  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    background-color: red;
  }
  &:focus {
    outline: 0;
    background-color: red;
    box-shadow: none;
    opacity: 1;
  }
}

.nav-link-cus {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.shop-cart img {
  max-width: 25px;
}

.navbar-toggler-cus {
  border-radius: 0;
  padding: 0;
  font-size: 20px;
  border: none;
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}
